.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.srcimg {
  height: 40vmin;
  margin: 0;
}

h1{
  height: 20vmin;
}

.profile{
  padding: 30px;
  
}

.level{
  margin-left: 30px;
}

/* .profilepicture{
  height: 30px;
  width: 30pxß;
} */

.my_activities{
  margin-top: 100px;
  width: 40%;
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.activitiespic{
  float: right;
}

.bargraph{
  float: right;
}

.activity{
  height: 200px;
  position: relative;

}

.post{
  padding: 30px;
  border: 0px solid red;
  width: 50%;
  margin-left: 25%;
  margin-top: 1%;
  background-color: #f4f4f4;
}

.post_image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}



.event_info{
  border: 0px solid black;
  width: 65%;
  float: left;
}

.event_pic{
  border: 0px solid black;
  float: right;
}

.event{
  padding: 30px;
  border: 0px solid rgb(0, 255, 34);
  width: 50%;
  margin-left: 25%;
  margin-top: 1%;
  background-color: #f4f4f4;
  clear: both;
  display: block;
  overflow: auto;
}

.attendButton{
  clear:both;
  margin: 5px;
}

.attendEvent{
  clear: both;
  background-color: green;
  color: white;
  float: right;
  height: 50px;
  width: 200px;
  font-size: 24px;

}

.addpost{

    padding: 30px;
    border: 0px solid red;
    width: 50%;
    margin-left: 25%;
    margin-top: 1%;
    background-color: #f4f4f4;

}


